<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46160699973-aj4bro49dlh87l08t1n4lhkhe1vi98bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46160699973-aj4bro49dlh87l08t1n4lhkhe1vi98bu</string>
	<key>API_KEY</key>
	<string>AIzaSyBF686OdBWuvqDnhJ7jF8PTP5DfXQA9xVk</string>
	<key>GCM_SENDER_ID</key>
	<string>46160699973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docTracker</string>
	<key>PROJECT_ID</key>
	<string>doctracker-f3714</string>
	<key>STORAGE_BUCKET</key>
	<string>doctracker-f3714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46160699973:ios:c0a152ed88a449c620b92c</string>
</dict>
</plist>